{
    "plugins": [
      ["module-resolver", {
        "root": ["./"],
        "alias": {
          "@assets": "./assets",
          "@components":"./components",
          "@res":"./components/res",
          "@utils":"./utils",
          "@fragment":"./components/fragment",
          "@reducer":"./reducer",
          "@store":"./store",
          "@actions":"./actions",
          "underscore": "lodash"
        }
      }]
    ]
  }